<h2 class="text-center mb-2">دفترچه درمانی</h2>

@if (form) {
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
    <div fxLayout="row wrap">

      <div fxFlex="100" fxFlex.gt-xs="33.3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>نوع درخواست</mat-label>
          <mat-select formControlName="issueTypeLookupID">
            @for (item of medicalTreatmentServiceTypes; track item.lookUpID) {
              <mat-option [value]="item.lookUpID">{{ item.lookUpName }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('issueTypeLookupID')?.hasError('required')">
            انتخاب نوع درخواست اجباری می باشد
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>نحوه تحویل</mat-label>
          <mat-select formControlName="facilityReceiveTypeLookupID">
            @for (item of medicalBookletReceiveTypes; track item.lookUpID) {
              <mat-option [value]="item.lookUpID">{{ item.lookUpName }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('facilityReceiveTypeLookupID')?.hasError('required')">
            انتخاب نحوه تحویل اجباری می باشد
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="33.3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>هزینه ارسال (ریال)</mat-label>
          <input matInput [disabled]="true" [value]="requestTypeConfig?.deliveryCost | customCurrency" class="ltr">
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="100">
        <h3>وابستگان</h3>
        <mat-divider class="mt-1"></mat-divider>

        @if (relationDataSource) {
          <table [dataSource]="relationDataSource" class="w-100 mt-3" mat-table multiTemplateDataRows>
            @for (column of relationColumnsToDisplay; track column.key) {
              <ng-container matColumnDef="{{column.key}}">
                <th *matHeaderCellDef mat-header-cell>{{ column.name }}</th>
                <td *matCellDef="let element; let i = index;" mat-cell>
                  @switch (column.key) {
                    @case ('personFirstName') {
                      {{ element.personFirstName }}
                      {{ element.personLastName }}
                    }
                    @case ('check') {
                      <mat-radio-button name="check" [value]="element.personID"
                                        (change)="checkRelatedUser($event)"></mat-radio-button>
                    }
                    @default {
                      {{ element[column.key] }}
                    }
                  }
                </td>
              </ng-container>
            }
            <ng-container matColumnDef="expand">
              <th *matHeaderCellDef aria-label="row actions" mat-header-cell>&nbsp;</th>
            </ng-container>
            <tr *matHeaderRowDef="relationColumnsToDisplay0" mat-header-row></tr>
            <tr *matRowDef="let element; columns: relationColumnsToDisplay0;" class="example-element-row" mat-row>
            </tr>
          </table>
          @if (relatedPersonIDError) {
            <mat-error class="mb-2">
              انتخاب وابسته اجباری می باشد.
            </mat-error>
          }
        }
      </div>

      <div fxFlex="100" fxFlex.gt-xs="100">
        <h3>مدارک مورد نیاز</h3>
        <div formArrayName="attachments">
          <div *ngFor="let att of form.get('attachments')?.value; let i=index" [formGroupName]="i">
            <mat-checkbox formControlName="uploaded">{{ att.type }}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" type="submit">ذخیره و ارسال</button>
    </div>
  </form>
}
