<form [formGroup]="form" (ngSubmit)="submit()" class="form-container">

  <mat-form-field appearance="outline">
    <mat-label>نوع مراسم</mat-label>
    <input matInput formControlName="ceremonyType">
    <mat-error *ngIf="form.get('ceremonyType')?.hasError('required')">
      نوع مراسم الزامی است
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>معرفی به</mat-label>
    <input matInput formControlName="introduceTo">
    <mat-error *ngIf="form.get('introduceTo')?.hasError('required')">
      معرفی به الزامی است
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>درصد تخفیف</mat-label>
    <input matInput type="number" formControlName="discountPercent">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>تاریخ مراسم</mat-label>
    <input matInput type="date" formControlName="ceremonyDate">
    <mat-error *ngIf="form.get('ceremonyDate')?.hasError('required')">
      تاریخ مراسم الزامی است
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>تعداد مدعوین</mat-label>
    <input matInput type="number" formControlName="inviteesCount">
  </mat-form-field>

  <h3>معرفی‌نامه برای</h3>
  <mat-radio-group formControlName="forWhom">
    <mat-radio-button value="self">خودم</mat-radio-button>
    <mat-radio-button value="dependents">وابستگانم</mat-radio-button>
  </mat-radio-group>

  <h3>وابستگان</h3>
  <div formArrayName="dependents" class="dependents">
    <div *ngFor="let dep of dependents.controls; let i=index" [formGroupName]="i" class="dependent-item">
      <mat-form-field appearance="outline">
        <mat-label>نام</mat-label>
        <input matInput formControlName="firstName">
        <mat-error *ngIf="dep.get('firstName')?.hasError('required')">نام الزامی است</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>نام خانوادگی</mat-label>
        <input matInput formControlName="lastName">
        <mat-error *ngIf="dep.get('lastName')?.hasError('required')">نام خانوادگی الزامی است</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>نسبت</mat-label>
        <input matInput formControlName="relation">
        <mat-error *ngIf="dep.get('relation')?.hasError('required')">نسبت الزامی است</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="underSupport">تحت تکفل</mat-checkbox>
    </div>
  </div>
  <button mat-raised-button color="primary" type="button" (click)="addDependent()">➕ افزودن وابسته</button>

  <h3>مدارک مورد نیاز</h3>
  <div formArrayName="attachments">
    <div *ngFor="let att of form.get('attachments')?.value; let i=index" [formGroupName]="i">
      <mat-checkbox formControlName="uploaded">{{ att.type }}</mat-checkbox>
    </div>
  </div>

  <div class="submit-btn">
    <button mat-raised-button color="accent" type="submit">ثبت درخواست</button>
  </div>
</form>
