@if (form) {
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
    <div fxLayout="row wrap">

      <div fxFlex="100" fxFlex.gt-xs="100">
        <div fxLayout="row wrap" fxLayoutAlign="start center" class="mb-2">
          <h3>معرفی نامه برای</h3>
          <mat-radio-group formControlName="applicantRelationship">
            <mat-radio-button value="خودم">خودم</mat-radio-button>
            <mat-radio-button value="وابستگانم">وابستگانم</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="100" *ngIf="form.get('applicantRelationship')?.value === 'وابستگانم'">
        <h3>وابستگان</h3>
        <mat-divider class="mt-1"></mat-divider>

        @if (relationDataSource) {
          <table [dataSource]="relationDataSource" class="w-100 mt-3" mat-table multiTemplateDataRows>
            @for (column of relationColumnsToDisplay; track column.key) {
              <ng-container matColumnDef="{{column.key}}">
                <th *matHeaderCellDef mat-header-cell>{{ column.name }}</th>
                <td *matCellDef="let element; let i = index;" mat-cell>
                  @switch (column.key) {
                    @case ('personFirstName') {
                      {{ element.personFirstName }}
                      {{ element.personLastName }}
                    }
                    @case ('check') {
                      <mat-radio-button name="check" [value]="element.pensionaryID"
                                        (change)="checkRelatedUser($event)"></mat-radio-button>
                    }
                    @default {
                      {{ element[column.key] }}
                    }
                  }
                </td>
              </ng-container>
            }
            <ng-container matColumnDef="expand">
              <th *matHeaderCellDef aria-label="row actions" mat-header-cell>&nbsp;</th>
            </ng-container>
            <tr *matHeaderRowDef="relationColumnsToDisplay0" mat-header-row></tr>
            <tr *matRowDef="let element; columns: relationColumnsToDisplay0;" class="example-element-row" mat-row>
            </tr>
          </table>
          @if (relatedPersonIDError) {
            <mat-error class="mb-2">
              انتخاب وابسته اجباری می باشد.
            </mat-error>
          }
        }
      </div>

      <div fxFlex="100" fxFlex.gt-xs="33.3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>نوع مراسم</mat-label>
          <mat-select formControlName="ceremonyTypeLookupID" (selectionChange)="ceremonyTypeChanged($event)">
            @for (item of ceremonyTypes; track item.id) {
              <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('ceremonyTypeLookupID')?.touched &&
            form.get('ceremonyTypeLookupID')?.hasError('required')">
            انتخاب نوع مراسم اجباری می باشد
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
        <app-currency-input
          class="w-100"
          label="درصد تخفیف"
          placeholder="درصد تخفیف"
          formControlName="facilityDiscountPercent"
          [disabled]="true">
        </app-currency-input>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="33.3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>معرفی به</mat-label>
          <mat-select formControlName="introducedToLookupID">
            @for (item of places; track item.id) {
              <mat-option [value]="item.id">{{ item.name }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('introducedToLookupID')?.touched &&
                    form.get('introducedToLookupID')?.hasError('required')">
            انتخاب محل معرفی اجباری می باشد
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="50" class="pl-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>تاریخ مراسم</mat-label>
          <input #dateInput matInput [matDatepicker]="picker" formControlName="ceremonyDate" class="ltr" onlyNumber
                 (dateChange)="dateChanged(dateInput)" placeholder="تاریخ مراسم">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('ceremonyDate')?.touched &&
                    form.get('ceremonyDate')?.hasError('required')">
            تاریخ مراسم اجباری می باشد
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>تعداد مدعوین</mat-label>
          <input matInput type="number" formControlName="ceremonyGuestCount" class="ltr text-left">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="100">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>توضیحات</mat-label>
          <textarea matInput formControlName="requestDescription" rows="3"></textarea>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="100">
        <h3>مدارک مورد نیاز</h3>
        <div formArrayName="attachments">
          <div *ngFor="let att of form.get('attachments')?.value; let i=index" [formGroupName]="i">
            <mat-checkbox formControlName="uploaded">{{ att.type }}</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" type="submit">ذخیره و ارسال</button>
    </div>
  </form>
}
