.about-container {
  direction: rtl;
  margin: 2rem auto;
  max-width: 900px;
  padding: 1rem;

  mat-card {
    padding: 1rem;

    h3 {
      margin-top: 1.5rem;
    }

    ul {
      list-style: disc;
      padding-right: 1.5rem;
    }

    p {
      margin-bottom: 1rem;
      line-height: 2;
    }
  }
}
