$font-family: 'Alborzchem_en';
$theme-max-width: 1300px;
$top-toolbar-height: 40px;
$main-toolbar-height: 64px;
$main-toolbar-height-mobile: 72px;
$search-toolbar-height: 60px;
$new-toolbar-height: 100px;
$user-menu-width: 235px;
$header-image-min-height: 320px;
$header-video-min-height: 360px;
$header-carousel-height: 460px;
$header-map-height: 550px;
$main-content-header-offset-to-top: 80px;
$btn-full-height: 38px;

$main-sidenav-width: 270px;
$close-margin: 190px;
$search-sidenav-width: 288px;
$sidenav-width: 280px;

$mobile-size: 680px;
$tablet-size: 770px;

/*green*/
$primary: #388E3C;
$accent: #64646D;
$warn: #ED1C24;

$white: #F7F5F5;
$silver: #DEDEDE;
$black: #373435;

$back-body: #fafafa;
$back-second: #ffffff;

$secondary: #000000de;
$back-third: #474747;

$gray: #8d89a9;
$gray-light: #e0e0e0;
$warn2: #5c8495;

// global colors
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$yellow: #ffff00;
