<h2 class="text-center mb-2">گواهی حقوق</h2>
@if (form) {
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-container">

    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-xs="33.3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>حقوق دریافتی (ریال)</mat-label>
          <input matInput class="ltr" [value]="this.personInfo?.payAmount | customCurrency" [disabled]="true">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>تاریخ بازنشستگی</mat-label>
          <input matInput class="ltr" [value]="retirementDate" [disabled]="true">
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="33.3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>سابقه سنوات خدمت(سال)</mat-label>
          <input matInput class="ltr" [value]="this.personInfo?.retiredRealDurationYEAR" [disabled]="true">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row wrap">

      <div fxFlex="100" fxFlex.gt-xs="100" class="mb-2">
        <h3>مدارک مورد نیاز</h3>
        <div formArrayName="attachments">
          <div *ngFor="let attachment of attachments.controls; let i = index" [formGroupName]="i"
               class="attachment-row">

            <!-- File type title -->
            <mat-label class="ml-1">{{ attachment.get('type')?.value }}</mat-label>

            <!-- File input -->
            <input type="file" (change)="onFileSelected($event, i)"/>

            <!-- Upload status -->
            <!--<mat-icon *ngIf="attachment.get('uploaded')?.value" color="primary">check_circle</mat-icon>
            <mat-icon *ngIf="!attachment.get('uploaded')?.value" color="warn">highlight_off</mat-icon>-->

          </div>
        </div>
      </div>

      <mat-checkbox formControlName="includeSalary">درج حقوق در گواهی</mat-checkbox>
      <mat-checkbox formControlName="includeHistory">درج سابقه در گواهی</mat-checkbox>
    </div>

    <div class="control-row">
      <mat-form-field appearance="outline">
        <mat-label>معرفی به</mat-label>
        <input matInput formControlName="organization">
        <mat-error *ngIf="form.get('organization')?.touched && form.get('organization')?.hasError('required')">
          معرفی به الزامی است
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" type="submit">ذخیره و ارسال</button>
    </div>
  </form>

  <h3>لیست گواهی‌های فعال</h3>
  <mat-divider class="mt-1"></mat-divider>

  @if (dataSource) {
    <table [dataSource]="dataSource" class="w-100 mt-3" mat-table multiTemplateDataRows>
      @for (column of columnsToDisplay; track column.key) {
        <ng-container matColumnDef="{{column.key}}">
          <th *matHeaderCellDef mat-header-cell>{{ column.name }}</th>
          <td *matCellDef="let element; let i = index;" mat-cell>
            @switch (column.key) {
              @case ('facilityAmount') {
                {{ element.facilityAmount | customCurrency }}
                ريال
              }
              @default {
                {{ element[column.key] }}
              }
            }
          </td>
        </ng-container>
      }
      <ng-container matColumnDef="expand">
        <th *matHeaderCellDef aria-label="row actions" mat-header-cell>&nbsp;</th>
      </ng-container>
      <tr *matHeaderRowDef="columnsToDisplay0" mat-header-row></tr>
      <tr *matRowDef="let element; columns: columnsToDisplay0;" class="example-element-row" mat-row>
      </tr>
    </table>
    <mat-paginator [length]="totalCount" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
  }
}
