<h2 class="text-center mb-2">لوازم تحریر</h2>

@if (form) {
  <form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-xs="50" class="pl-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>دریافت کننده لوارم تحریر</mat-label>
          <mat-select formControlName="prizeReceiver" (selectionChange)="prizeChanged($event)">
            @for (prizeReceiver of prizeReceivers; track prizeReceiver.lookUpID) {
              <mat-option [value]="prizeReceiver.lookUpID">{{ prizeReceiver.lookUpName }}</mat-option>
            }
          </mat-select>
          <mat-error *ngIf="form.get('prizeReceiver')?.touched && form.get('prizeReceiver')?.hasError('required')">
            انتخاب دریافت کننده لوارم تحریر اجباری می باشد
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>مبلغ تسهیلات (ریال)</mat-label>
          <input matInput [value]="loanAmount | customCurrency" class="ltr" [disabled]="true">
        </mat-form-field>
        <mat-error *ngIf="form.get('loanAmount')?.touched && form.get('loanAmount')?.hasError('required')">
          مبلغ اجباری می باشد
        </mat-error>
      </div>
    </div>


    @if ((attachments.controls?.length ?? 0) > 0) {
      <div class="control-row mb-2">
        <h3>مدارک مورد نیاز</h3>
        <div formArrayName="attachments">
          @for (attachment of attachments.controls; track attachment; let i = $index) {
            <div [formGroupName]="i" class="attachment-row">
              <mat-label class="ml-1">{{ attachment.get('type')?.value }}</mat-label>
              <input type="file" (change)="onFileSelected($event, i)"/>
              @if (attachment.get('file')?.invalid && attachment.get('file')?.touched) {
                <div class="error">
                  {{ attachment.get('type')?.value }}
                  اجباری می باشد
                </div>
              }
            </div>
          }
        </div>
      </div>
    }

    <h3>وابستگان</h3>
    <mat-divider class="mt-1"></mat-divider>

    @if (relationDataSource) {
      <table [dataSource]="relationDataSource" class="w-100 mt-3" mat-table multiTemplateDataRows>
        @for (column of relationColumnsToDisplay; track column.key) {
          <ng-container matColumnDef="{{column.key}}">
            <th *matHeaderCellDef mat-header-cell>{{ column.name }}</th>
            <td *matCellDef="let element; let i = index;" mat-cell>
              @switch (column.key) {
                @case ('personFirstName') {
                  {{ element.personFirstName }}
                  {{ element.personLastName }}
                }
                @default {
                  {{ element[column.key] }}
                }
              }
            </td>
          </ng-container>
        }
        <ng-container matColumnDef="expand">
          <th *matHeaderCellDef aria-label="row actions" mat-header-cell>&nbsp;</th>
        </ng-container>
        <tr *matHeaderRowDef="relationColumnsToDisplay0" mat-header-row></tr>
        <tr *matRowDef="let element; columns: relationColumnsToDisplay0;" class="example-element-row" mat-row>
        </tr>
      </table>
    }

    <div fxLayout="row wrap" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" type="submit">ذخیره و ارسال</button>
    </div>
  </form>
}

<h3>سابقه هزینه لوازم تحریر</h3>
<mat-divider class="mt-1"></mat-divider>

@if (dataSource) {
  <table [dataSource]="dataSource" class="w-100 mt-3" mat-table multiTemplateDataRows>
    @for (column of columnsToDisplay; track column.key) {
      <ng-container matColumnDef="{{column.key}}">
        <th *matHeaderCellDef mat-header-cell>{{ column.name }}</th>
        <td *matCellDef="let element; let i = index;" mat-cell>
          @switch (column.key) {
            @case ('facilityAmount') {
              {{ element.facilityAmount | customCurrency }}
              ريال
            }
            @default {
              {{ element[column.key] }}
            }
          }
        </td>
      </ng-container>
    }
    <ng-container matColumnDef="expand">
      <th *matHeaderCellDef aria-label="row actions" mat-header-cell>&nbsp;</th>
    </ng-container>
    <tr *matHeaderRowDef="columnsToDisplay0" mat-header-row></tr>
    <tr *matRowDef="let element; columns: columnsToDisplay0;" class="example-element-row" mat-row>
    </tr>
  </table>
  <mat-paginator [length]="totalCount" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
}
